* {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body{
	width: 100%;
	height: 100%;
}

header {
	background-color: #eee;
	height: 100px;
	width: 100%;
	border-bottom: 1px solid #333;
	position: fixed;
}

.menu ul li a {
	color: #2e7bcf;
	font-weight: bold;
	text-decoration: none;
	padding-bottom: 10px;
}

.menu ul li {
	display: inline-block;
	float: right;
	margin:  0 30px;
}

.menu ul li:first-child {
	float: left;
}

#logo img {
	height: 99px;
}

.banner {
	margin-top: 300px;
	background-color: blue;
}

.banner p {
	font-size: 300px;
}

.mem{
	text-align: center;
}

#time-titulo {
	text-align: center;
	font-size: 40px;
	color: #000
}
.membros div{
	/*display: block;
 	margin:0 auto; */
	-webkit-align-items: center;


	text-align: center;
	padding: 40px;
	background-color: #FFF ;
	display: inline-block;
	border: 0px 0px;
	height: 200px;
	width: 200px;
}
 .membro {
	display: inline-block;

}

.membros .membro h3 {
    font-size: 20px;
    color: #333;
    margin-top: 25px;
}

.membro img {
    color: red;
    width: 150px;
    height: 150px;
    margin: -14%;
    border-radius: 50%;
}

.membros{
	display: block;
	padding: 10px 50px;
}
/*.mem{
	display: inline;
	margin: 0px;
	border: 0px;
	padding:0px;
}*/


.produtos {
    padding: 0% 10%;
    background-color:  #2e7bcf;
    border-top: 2px solid black;
    border-bottom: 3px solid black;
}

.produto img {
	width: 100%;
	padding: 15%;
}
.produto p {
	background-color: #333;
	color: #fff;
	border-radius: 10%;
	border: 1px solid black;
}

.produto {
    text-align: center;
    width: 22%;
}
.nosspr {
	width: 100%;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	border-top: 3px solid black;
	margin: 3% 0;
}
.produtos > * {
    display: inline-block;
    margin: 3%;
}

.nosspr h1{
	background-color: #FFF;
	text-align: center;
	margin: 1.3%;
	font-size: xx-large;

}

.circle {
	border-radius: 50%;
	border: 2px solid black;
	background-color: #fff;
}

@media screen and (max-width: 768px) {
	.produto {
    	width: 35%;
		margin: 4% 6%
    }
	.produto p {
		 font-size: 130%;
		 margin: 0 -13%;
	}
	.produtos h1 {
		font-size: 130%;
	}
	.produtos {
		margin: 0 -5%;
	}
}